@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

h1, h2, a {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

p {
font-family: "Cinzel", serif;
}


header{
    background-color: rgb(208, 12, 51);
}

header img {
  box-shadow: 10px 10px 10px;
}

footer{
    background-color: rgb(208, 12, 51);
    /*background-image: url(../Assets/Pictures/denmarkflagbig.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
    color: antiquewhite;
}